@{
  Layout = null;
}

<div class="helloWorld-image">
  <div class="animated fadeIn">
    <nav class="navbar navbar-inverse navbar-fixed-top HV-Nav">
      <div class="container text-center">
        <pre class="g-font28px g-noBGnoBorder g-textWhite g-marBot0 g-padBot0">Quizzical</pre>
        <pre class="g-pre g-textWhite g-bold">
/ˈkwizək(ə)l/
adjective
(of a person's expression or behavior) indicating mild or amused puzzlement.
</pre>
      </div>
    </nav>
    <div class="custom-btn userLogin text-center">
      <div class="welcomeMessage">
        <pre class="wp-pre g-alignLeft g-textWhite g-bold">if (aspiringProgrammer.doesStudy == true) {
  aspiringProgrammer.experiencePoints += minutesSpentStudying;
}</pre>
          </div>
      <button class="btn btn-success" ui-sref="SignUp">
        Enter
      </button>

    </div>
  </div>
</div>



    </>
