@{
    Layout = null;
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">Admin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*Hardcode this section to be your own custom nav bar using ui-sref*@
                <li>
                    <a ui-sref="userList" class="navbar-brand">User</a>
                </li>
                <li>
                    <a ui-sref="quizList" class="navbar-brand">Quiz</a>
                </li>
                <li>
                    <a ui-sref="questionList" class="navbar-brand">Question</a>
                </li>
                <li>
                    <a ui-sref="answerList" class="navbar-brand">Answer</a>
                </li>
                <li>
                    <a ui-sref="Default" class="navbar-brand">Take Quiz</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="divBelowNav container">
    <h2>User</h2>
    <form name="theForm">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="UserName" class="control-label col-md-2"> UserName </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.UserName" id="UserName" class="form-control" />
                    <div id="validation_for_UserName"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="control-label col-md-2"> Password </label>
                <div class="col-md-10">
                    <input type="password" ng-model="data.Password" id="Password" class="form-control" />
                    <div id="validation_for_Password"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="AvgScore" class="control-label col-md-2"> AvgScore </label>
                <div class="col-md-10">
                    <input type="number" ng-model="data.AvgScore" id="AvgScore" class="form-control" />
                    <div id="validation_for_AvgScore"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="TotalQuizzes" class="control-label col-md-2"> TotalQuizzes </label>
                <div class="col-md-10">
                    <input type="number" ng-model="data.TotalQuizzes" id="TotalQuizzes" class="form-control" />
                    <div id="validation_for_TotalQuizzes"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a ui-sref="userList">Back to List</a>
    </div>
</div>